.doctor-extra-info-container {
  padding-left: 15px;
  .content-up {
    margin-bottom: 10px;
    .text-address {
      text-transform: uppercase;
      color: #333;
    }
    .name-clinic {
      font-weight: 600px;
      padding: 5px 0;
    }
    .detail-address {
    }
  }
  .content-down {
    .short-info {
      .detail {
        cursor: pointer;
        color: rgb(38, 160, 231);
      }
      .currency {
        margin: 0 5px;
      }
    }
    .title-price {
      margin-bottom: 10px;
    }
    .detail-info {
      border: 1px solid #ddd;
      padding: 5px;
      background-color: #f8f8f8;
      .price {
        padding-bottom: 5px;
      }
    }
    .payment {
      border: 1px solid #ddd;
      padding: 5px;
      background-color: #eee;
    }
    .hide-price {
      margin-top: 10px;
      span {
        cursor: pointer;
        color: rgb(38, 168, 231);
      }
    }
  }
}
