.booking-modal-container {
  margin-top: 20px;
  .booking-modal-content {
    height: 500px;
    display: flex;
    flex-direction: column;

    .booking-modal-header {
      border-bottom: 1px solid #ccc;
      padding: 10px;
      .left {
        font-weight: 600;
        font-size: 15px;
        color: #333;
      }
      .right {
        float: right;
        cursor: pointer;
      }
    }
    .booking-modal-body {
      padding-top: 15px;
      height: 100%;
    }
    .booking-modal-footer {
      padding: 10px;
      border-top: 1px solid #ccc;
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      button {
        border: none;
        outline: none;
        padding: 5px 8px;
        border-radius: 3px;
      }
      .btn-booking-confirm {
        background-color: orange;
      }
      .btn-booking-cancel {
        background-color: grey;
      }
    }
  }
}
