.preview-img-container {
  .lable-upload {
    padding: 5px;
    border-radius: 3px;
    background: #ddd;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  .preview-img {
    height: 50px;
    width: 100%;
    border: 1px solid red;
  }
}
