.manage-schedule-container {
  .manage-schedule-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
  }
  .pick-hour-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    button {
      padding: 3px 15px;
      border: 1px solid grey;
    }

    .btn-schedule {
      &.active {
        background-color: orange;
      }
    }
  }
  .btn-save {
  }
}
