.detail-clinic-container {
  .detail-cn-body {
    padding: 0 100px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    .description-cn {
      background-color: #d6d5d4 !important;
      padding: 15px;
      margin: 15px 0;
    }
    .each-doctor {
      display: flex;
      width: 100%;
      min-height: 300px;
      margin: 15px 0;
      background-color: #fff;
      box-shadow: 0 1px 6px rgb(32, 33, 36/28%);
      border-radius: 8px;

      .dt-content-left {
        width: 50%;
      }
      .dt-content-right {
        width: 50%;
        border-left: 1px solid grey;

        padding: 10px;
        .doctor-schedule {
        }
        .doctor-extra-info {
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid #ddd;
          .doctor-extra-info-container {
            padding-left: 0 !important;
            border-right: unset !important;
          }
        }
      }
    }
  }
}
